# Python
__pycache__/

# IDE
.idea/
.vscode/
.venv/

# temp
.DS_Store

# claude code
.claude/

.env

# database
*.db

training/data/rvl_cdip/test
training/data/rvl_cdip/train
training/data/rvl_cdip/val
training/data/rvl_cdip/cache
training/data/rvl_cdip/_test_cache
training/data/rvl_cdip/_test_small
training/output