fastapi
uvicorn[standard]
pydantic-settings

# 版本和cuda版本、系统有关，参考https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html进行安装
# pip install -r 安装的可能是旧版本，可能会出现兼容性问题
# 我在AutoDL上使用的：python -m pip install paddlepaddle-gpu==3.3.1 -i https://www.paddlepaddle.org.cn/packages/stable/cu129/
paddlepaddle-gpu
# cpu版叫paddlepaddle
paddleocr[all]
paddlex[ocr]

black
mypy

sqlalchemy

# GNN 相关库
torch
torch_geometric
torchvision

# 文本嵌入
sentence-transformers

# 训练可视化
matplotlib
scikit-learn
seaborn